header#header.header
	div.header_inner
		a(href="/" aria-label="Site Logo").header_logo
			h1: img(src="/assets/img/common/apple-touch-icon.png" alt="logo" width="60" loading="eager")
		nav(aria-label="Main menu").header_navi
			ul
				li
					a(href="/service/" class=(page === 'service' ? 'current' : '') ) サービス
					a(href="/company/" class=(page === 'company' ? 'current' : '') ) 会社情報
					a(href="/company/" class=(page === 'company' ? 'current' : '') ) 会社情報
					a(href="/company/" class=(page === 'company' ? 'current' : '') ) 会社情報
